.catalog__diffCardsContainer {
    justify-content: initial;
    column-gap: 50px;
}

.catalog__diffCardsContainer .catalog__card:not(.catalog__bigCard) img {
    width: initial;
}

.catalog__diffCardsContainer .catalog__cardWrapper {
    width: min-content;
}

.catalog__diffCardsContainer .btnWrap {
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: center;
    column-gap: 8px;
}

.catalog__card:hover .btnWrap {
    display: flex;
}