.about {
  margin-bottom: 150px;
}

.about-head {
  background-image: url(./img/about-head-bg.png);
  background-size: cover;
  margin-bottom: 30px;
}

.about-head .container {
  display: flex;
  justify-content: space-between;
}

.about-head-main {
  width: 538px;
  padding-top: 50px;
}

.about-head-main .c-p7 {
  width: 453px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.about-head-main .c-link {
  width: 321px;
  display: flex;
  align-items: center;
}

.about-head-main .c-link img {
  margin-right: 30px;
}

.about-head-main .c-link:last-child {
  margin-top: 40px;
}

.about-head-img {
  display: flex;
  align-items: flex-start;
}

.about-head-img img:first-child {
  position: relative;
  margin-right: -61px;
  margin-top: 91px;
  margin-bottom: -51px;
  border-radius: 250px 250px 1px 1px;
}

.about-head-img img:last-child {
  border-radius: 1px;
}

.about-bread {
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.about-bread *:not(:last-child) {
  opacity: 0.68;
  display: flex;
  align-items: center;
}

.about-bread *:not(:last-child)::after {
  content: '';
  width: 2px;
  height: 2px;
  background: #70768A;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

.about-mission {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.about-mission-desc {
  width: 554px;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-mission-desc > .c-p3 {
  width: 483px;
  margin-top: 30px;
}

.about-mission-desc-bottom {
  margin-top: auto;
}

.about-mission-desc-bottom__item {
  display: flex;
  align-items: center;  
  margin-bottom: 50px;
}

.about-mission-desc-bottom__item:last-child {
  margin-bottom: 0;
}

.about-mission-desc-bottom__item img {
  margin-right: 30px;
}

.about-mission-desc-bottom__item p {
  width: 357px;
}

.about-offer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  border-radius: 1px;
  margin-bottom: 100px;
  background: linear-gradient(95.56deg, #ECE3DE 5.15%, #ECE3DF 31%, #EDE3DF 44.44%, #E5DBD6 57.87%, #EFE5E3 65.22%, #F1E7E6 79.29%, #F2E9E6 103.49%);
}

.about-offer img {
  position: absolute;
  right: 0;
  top: 0;
}

.about-offer__main {
  width: 810px;
  margin-top: 100px;
  margin-left: 75px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.about-offer__main .c-h2 {
  width: 100%;
  margin-bottom: 60px;
}

.about-offer-col {
  width: 355px;
}

.about-offer-col__item {
  margin-bottom: 50px;
}

.about-offer-col__item:last-child {
  margin-bottom: 0;
}

.about-offer-col__item .c-p4 {
  margin-bottom: 10px;
}

.about-img {
  display: block;
  margin-bottom: 150px;
}

.about-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 150px;
}

.about-services .c-h2 {
  width: 100%;
  margin-bottom: 75px;
}

.about-services-item {
  width: 313px;
}

.about-services-item a {
  display: block;
  width: fit-content;
  margin-bottom: 15px;
  margin-top: 40px;
}

@media (max-width: 1439px) {
  .about-head {
    margin-bottom: 20px;
  }

  .about-head-main .c-p7 {
    width: 397px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .about-head-main .c-link {
    width: 271px;
  }

  .about-head-main .c-link img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  .about-head-main .c-link:last-child {
    margin-top: 30px;
  }

  .about-head-img img:first-child {
    width: 317px;
    margin-right: -49px;
    margin-top: 65px;
    margin-bottom: -34px;
  }

  .about-head-main {
    width: 430px;
  }

  .about-head-img img:last-child {
    width: 424px;
  }

  .about-bread {
    margin-bottom: 75px;
    font-size: 12px;
    line-height: 120%;
  }

  .about-mission {
    margin-bottom: 75px;
  }

  .about-mission > img {
    width: 625px;
  }

  .about-mission-desc {
    width: 471px;
    padding-right: 54px;
  }

  .about-mission-desc > .c-p3 {
    width: 100%;
    margin-top: 20px;
  }

  .about-mission-desc-bottom__item {
    margin-bottom: 40px;
  }

  .about-mission-desc-bottom__item img {
    width: 40px;
    height: 40px;
  }

  .about-mission-desc-bottom__item p {
    width: auto;
  }

  .about-mission-desc-bottom__item:first-child p {
    width: 274px;
  }

  .about-offer {
    margin-bottom: 75px;
  }

  .about-offer__main {
    width: 698px;
    padding-top: 75px;
    padding-left: 50px;
    padding-bottom: 75px;
    margin: 0;
  }

  .about-offer-col {
    width: 300px;
  }

  .about-offer-col:last-child {
    width: 323px;
  }

  .about-offer__main .c-h2 {
    margin-bottom: 50px;
  }

  .about-offer-col__item {
    margin-bottom: 40px;
  }

  .about-offer img {
    height: 514px;
  }

  .about-img {
    margin-bottom: 120px;
  }

  .about-services .c-h2 {
    margin-bottom: 50px;
  }

  .about-services-item {
    width: 263px;
  }

  .about-services-item > img {
    width: 50px;
    height: 50px;
  }

  .about-services-item a {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1279px) {
  .about-head-main {
    padding-top: 40px;
    width: 330px;
  }

  .about-head-main .c-p7 {
    margin-top: 10px;
    width: 100%;
  }

  .about-head-main .c-link {
    width: 226px;
  }

  .about-head-main .c-link img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }

  .about-head-img img:last-child {
    display: none;
  }

  .about-head-img img:first-child {
    width: 274px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0;
  }

  .about-bread {
    font-size: 10px;
    line-height: 150%;
    margin-bottom: 60px;
  }

  .about-mission {
    margin-bottom: 60px;
  }

  .about-mission > img {
    width: 330px;
  }

  .about-mission-desc {
    width: 330px;
    padding: 0;
  }

  .about-mission-desc > .c-p3 {
    margin-top: 10px;
  }

  .about-mission-desc-bottom__item {
    margin-bottom: 30px;
  }

  .about-mission-desc-bottom__item img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }

 .about-mission-desc-bottom__item p {
    width: 238px;
  }

  .about-mission-desc-bottom__item:first-child p {
    width: 206px;
  }
  
  .about-offer {
    margin-bottom: 60px;
    overflow: hidden;
  }

  .about-offer__main {
    width: 511px;
    padding-top: 40px;
    padding-left: 23px;
    padding-bottom: 40px;
  }

  .about-offer__main .c-h2 {
    margin-bottom: 40px;
  }

  .about-offer-col {
    width: 214px;
  }

  .about-offer-col:last-child {
    width: 234px;
  }

  .about-offer-col__item {
    margin-bottom: 30px;
  }

  .about-offer img {
    height: 381px;
    right: -120px;
  }

  .about-img {
    margin-bottom: 80px;
  }

  .about-services .c-h2 {
    margin-bottom: 40px;
  }

  .about-services-item > img {
    width: 30px;
    height: 30px;
  }

  .about-services-item a {
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .about-services-item {
    width: 155px;
  }

  .about-head .container {
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .about-head-img img:first-child {
    width: 280px;
  }

  .about-head-main {
    padding-top: 20px;
  }

  .about-head-main {
    margin-bottom: 40px;
  }

  .about-head-main .c-link:last-child {
    margin-top: 20px;
  }

  .about-bread {
    margin-bottom: 20px;
  }

  .about-mission {
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 40px;
  }

  .about-mission-desc {
    order: -1;
  }

  .about-mission-desc-bottom {
    margin-top: 370px;
  }

  .about-mission > img {
    position: absolute;
    left: 0;
    top: 137px;
  }

  .about-offer__main {
    padding-left: 30px;
    padding-right: 30px;
  }

  .about-offer img {
    display: none;
  }

  .about-offer {
    background-image: url(./img/offer-mobile.png);
    background-repeat: no-repeat;
  }

  .about-offer__main .c-h2 {
    margin-bottom: 30px;
  }

  .about-offer-col {
    width: 234px !important;
  }

  .about-offer-col:last-child {
    margin-top: 20px;
  }

  .about-offer-col__item {
    margin-bottom: 20px;
  }

  .about-offer {
    margin-bottom: 40px;
  }

  .about-img {
    margin-bottom: 60px;
  }

  .about-services {
    row-gap: 40px;
  }

  .about-services .c-h2 {
    margin-bottom: 0;
  }
}