body * {
  box-sizing: border-box;
}

body {
  background: #FBF9F7;
}

.warranty {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  margin-bottom: 150px;
}

.factoid__num {
  font-family: 'Comfortaa';
  font-size: 120px;
  line-height: 130%;
}

.warranty-block {
  position: relative;
}

.warranty-block__aside {
  width: 387px;
  position: absolute;
  right: 0;
}

.warranty-block__aside.factoid {
  bottom: 10px;
}

.warranty-block__aside.factoid .c-p5 {
  max-width: 299px;
}

.warranty-block__aside.refund {
  padding: 30px 25px;
  background: #EFE5E3;
  border-radius: 15px;
  bottom: 0;
}

.warranty-block__aside.refund .c-h4 {
  margin-bottom: 15px;
}

.warranty-block__text {
  width: 675px;
}

.warranty > .c-p3 {
  margin-bottom: 75px;
}

.warranty > ul {
  margin-top: 30px;
}

.warranty > ul li:not(:last-child) {
  margin-bottom: 10px;
}

.warranty-block__text>p {
  margin-bottom: 30px;
}

@media (max-width: 1439.98px) {
  .warranty {
    width: 992px;
    margin-top: 50px;
    margin-bottom: 120px;
  }

  .warranty-block__text {
    max-width: 575px;
  }

  .warranty > .c-p3 {
    margin-bottom: 50px;
  }

  .warranty > ul li:not(:last-child) {
    margin-bottom: 5px;
  }

  .warranty > ul {
    margin-top: 20px;
  }

  .warranty-block__text>p {
    margin-bottom: 20px;
  }

  .factoid__num {
    font-size: 100px;
  }

  .warranty-block__aside {
    width: 342px;
  }

  .warranty-block__aside.refund {
    padding: 25px 20px;
  }

  .warranty-block__aside.factoid {
    bottom: 8px;
  }

  .warranty-block__aside.refund .c-h4 {
    margin-bottom: 10px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 1279.98px) {
  .warranty {
    width: 700px;
    margin-top: 40px;
    margin-bottom: 80px;
  }

  .warranty > .c-p3 {
    max-width: 577px;
    margin-bottom: 40px;
  }

  .warranty > ul {
    margin-top: 15px;
  }

  .warranty-block__text>p {
    margin-bottom: 15px;
  }

  .warranty-block__text {
    max-width: 453px;
  }

  .warranty-block__aside {
    width: 207px;
  }

  .warranty-block__aside.factoid {
    bottom: 57px;
  }

  .warranty-block__aside.refund .c-h4 {
    padding-right: 0;
  }

  .warranty-block__aside.refund {
    padding: 20px 15px;
  }

  .factoid__num {
    font-size: 80px;
  }

  .warranty-block__aside.factoid .c-h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 767.98px) {
  .warranty {
    width: 330px;
    margin-top: 20px;
    margin-bottom: 60px;
  }
  
  .warranty-block__text {
    width: 330px;
  }

  .warranty-block__aside {
    position: relative;
    bottom: 0 !important;
    margin-bottom: 40px;
  }

  .warranty-block__aside.factoid {
    width: 200px;
  }

  .warranty-block__aside.refund {
    width: 330px;
  }
}