body {
  background: #FBF9F7;
}

* {
  box-sizing: border-box;
}

.container-sm {
  width: 1158px;
  margin-right: auto;
  margin-left: auto;
}

.blog-tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  padding-top: 20px;
  border-top: 1px solid #EFE5E3;
}

.blog-tags__item {
  margin: 0 15px 15px;
  cursor: pointer;
  font-size: 14px;
  line-height: 120%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.blog-tags__item:first-child {
  margin-left: 0;
}

.blog-tags__item.active {
  color: #6D86CF;
}

.blog-tags__item#all_categories.active {
  pointer-events: none;
}

.blog {
  margin-top: 75px;
  margin-bottom: 150px;
}


.blog-pagination {
  display: flex;
  justify-content: center;
}

.blog-pagination__item {
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 23px;
  padding-left: 23px;
  color: #869BD8;
  border-radius: 1px;
  transition: 0.3s;
}

.blog-pagination__item:hover {
  background: #F6EEEC;
  color: #6D86CF;
}

.blog-pagination__item.active {
  pointer-events: none;
  background: #F6EEEC;
  color: #6179BE;
}

.blog-pagination__item.go_to {
  display: flex;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
}

.blog-snippets-item-desc__title {
  margin-bottom: 40px;
}

.blog-snippets-item-desc-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 75px;
  column-gap: 20px;
  row-gap: 15px;
}

.blog-snippets-item-desc-tags__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.1em;
}

.blog-snippets-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 75px;
}

.blog-snippets-item__img_wrap {
  width: 852px;
  height: 601px;
  position: relative;
}

.blog-snippets-item__img_wrap img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  vertical-align: bottom;
  transition: 0.3s;
}

.blog-snippets-item-desc {
  width: 473px;
}

.blog-snippets-item:nth-child(2n) .blog-snippets-item-desc {
  order: -1;
}

@media (max-width: 1439.98px) {
  .blog-tags {
    margin-bottom: 15px;
  }

  .blog-tags__item {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
  } 

  .blog-snippets-item__img_wrap {
    width: 743px;
    height: 524px;
  }

  .blog-snippets-item-desc {
    width: 407px;
  }

  .blog-snippets-item-desc__title {
    margin-bottom: 30px;
  }

  .blog-snippets-item-desc-tags {
    margin-top: 50px;
  }
}

@media (min-width: 1280px) {
  .blog-snippets-item:hover .blog-snippets-item__img_wrap img {
    margin-top: -10px;
    margin-left: -10px;
  }

  .blog-snippets-item:hover .blog-snippets-item__img_wrap img {
    width: calc(100% + 20px);
  } 
}

@media screen and (max-width: 1279.98px) {
  .blog-tags {
    justify-content: flex-start;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 30px;
  }

  .blog-tags__item {
    margin-bottom: 10px;
    font-size: 10px;
  }

  .blog-tags__item:first-child {
    margin-left: 10px;
  }

  .blog-pagination__item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;
    padding-bottom: 7px;
  }

  .blog-pagination__item:hover {
    background: transparent;
  }

  .blog-pagination__item.go_to {
    padding: 8px;
    font-size: 0;
  }

  .blog-snippets {
    justify-content: space-between;
  }

  .blog-tags {
    margin-bottom: 5px;
  }

  .blog-snippets-item__img_wrap {
    width: 340px;
    height: 340px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .blog-snippets-item__img_wrap img {
    width: auto;
    height: 100%;
    left: auto;
  }

  .blog-snippets-item-desc__title {
    margin-bottom: 20px;
  }

  .blog-snippets-item-desc {
    width: 340px;
  }

  .blog-snippets-item-desc-tags {
    margin-top: 40px;
  }

  .blog-snippets-item-desc-tags__item {
    font-size: 10px;
  }

  .blog-snippets-item {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767.98px) {
  .blog-tags {
    margin-bottom: 5px;
  }

  .blog-snippets-item:nth-child(2n) .blog-snippets-item-desc {
    order: 1;
  }

  .blog-snippets-item {
    flex-wrap: wrap;
  }

  .blog-snippets-item__img_wrap {
    width: 330px;
    height: 330px;
    margin-bottom: 20px;
  }

  .blog-snippets-item-desc__title {
    margin-bottom: 10px;
  }

  .blog-snippets-item-desc-tags {
    margin-top: 20px;
  }
}